[client]
user = root
port = 3306
default-character-set = utf8

[mysql]
user = root
port = 3306
default-character-set = utf8

[mysqld]
user = root
port = 3306
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data
pid-file = /usr/local/mysql/mysqld.pid
server-id = 1
lc_messages_dir = /usr/local/mysql/share
